body{
    margin: 0px;
    background-color: #2e2837;
    color:#ffff;
  //  background-image: url('https://i.imgur.com/eGu2guO.png');
}

a{
    text-decoration: none;
}
.web{
    width: 100%;
    max-width: 100%;
    display: flex;
    padding: 20px 0px;
    margin: 0; 
    li{
        display: flex;
        margin: auto 20px;
    }
}
.menu{
     width: 100%;
    max-width: 100%;
    margin: 0; 
     display: flex;
     flex-flow: row nowrap;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    color:#333;
    justify-content: space-around;
    .logo{
        display: flex;
        align-self: center;
    }
    ul{
        display: flex;
        li{    
            display: flex;
             margin: auto 20px;
        }
    }
}
.web{
     margin-top: -20px;
}
ul{
    li{
        display: inline-block;
    }
    
}
.restfulApi{
    background-color: #8EC5FC;
    //background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    padding: 15px;
    margin-top: 250px;
    padding-top: 30px;
    padding-bottom: 50px;
    .restful_title{
        color:#333;
        position: relative;
    }
  .restful_title::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 110%;
    width: 42px;
    height: 4px;
    background: #7b68ee;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
    .restful-content{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-inline-start: 0px;
        width: 80%;
        margin: auto;
        .not_title{
            text-align: center;
            color:#795548;
            font-size: 17px;
        }
        li{
            display: flex;
            flex-direction: column;
            margin: auto;
            width: 33%;  
            align-items: flex-start;
            .name{
                color:#673ab7;
                font-weight: bolder;
            }
            a{
                display: flex;
                color:#333;
                align-items: flex-start;
                flex-direction: column;
                img{
                width:  33%;
                max-width:  33%;
                margin: auto;
                display: flex;
                justify-content: center;
                padding: 3px;
               
                }
                .webimg{
                    width:  100%;
                    max-width:  100%;
                   margin-top: 20px;
                    img{
                        width:  80%;
                        max-width:  80%;
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        border-radius: 8px;
                        
                    }
                    img:hover{
                        filter: grayscale(50%);
                        border: 1px solid #673ab7;
                    }
                }
            }
            
            .box:hover{
                display: flex;
                flex-direction: column;  
                background-color: #8EC5FC;
                background-image: linear-gradient(180deg, #8EC5FC 0%, #dddd 100%);
                border: 1px solid #E0C3FC;
                border-radius: 8px;

            }
           
        }
    }
}
.web,.restfulApi{
    justify-content: center;
    flex-flow: column;
    position: relative;
   .restful_title{
    margin-top: 50px;
   }
    .web_title,.restful_title{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        max-width: 100%;

        margin: 35px auto;
    }
    .web_title::after{
        position: absolute;
        content: "";
        left: 50%;
        top: 110%;
        width: 42px;
        height: 4px;
        background: #7b68ee;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    .web-content{
        display: flex;
        ul{
            list-style: none;
            display: flex;
            width: 60%;
            max-width: 60%;
            margin: auto;
            flex-flow: row wrap;
                padding-inline-start: 0px;
            li{
                display: flex;
                flex-flow: column;
                width: 47%;
                max-width: 47%;
                margin: 10px auto;
                padding: auto 10px;
                a {
                    text-decoration: none;
                    display: flex;
                }
                img{
                    width: 100%;
                    max-width: 100%;
                    vertical-align: middle;
                    transform: translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    backface-visibility: hidden;
                    -moz-osx-font-smoothing: grayscale;
                    transition-duration: 0.3s;
                    transition-property: transform;
                    &:hover,
                    &:focus,
                    &:active {
                        transform: scale(0.9);
                    }
                }
                .name{
                   display: flex;
                   margin: auto;
                }
            }
            li:first-child{
                img{
                    margin:260px auto auto auto;
                }
                .name{
                    margin-top: 0px;
                }
            }
            li:nth-child(2), 
            li:nth-child(3),
             li:nth-child(4){
                img{
                    width: 80%;
                    max-width: 80%;
                    margin: auto;
                }
            }
             li:nth-child(5),
              li:nth-child(6){
                 margin: 30px auto;
                    .name{
                    margin-top: -10px;
                    }
              }
        }
        .note_title{
            font-size: 14px;
            text-align: center;
        }
        
        .notBook{
            list-style: none;
            width: 100%;
            max-width: 100%;
            padding-inline-start: 0px;
            li{
                list-style: none; 
                display: flex;
                flex-flow: column;
                width: 100%;
                max-width: 100%;  
                a{
                    color:#808080;
                    justify-content: center;
                    border:1px solid #ddd;
                    background-color: #fff;
                    border-radius: 3px;
                }
                a:hover{
                    color: #333;
                    background-color: #8EC5FC;
                    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
                }
            }
        }
    }  
}
.skill_title{
    font-size: 15px;
    color:#808080;
    text-align: center;
    padding: 8px;
}
.restful-content  .notBook{
            width: 80%;
            max-width: 80%;
            display: flex;
            flex-flow: column;
            margin: auto;
            .list{
                display: flex;
                flex-flow: column;
                width: 100%;
                max-width: 100%;  
                margin: 3px 3px 3px 0px;
                
                a{
                    color:#795548;
                    justify-content: center;
                    border:1px solid #ddd;
                    border-radius: 3px;
                    padding-left: 4px;
                }
                a:hover{
                    color: #333;
                    background-color: #8EC5FC;
                    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
                }
            }
        }
.blog{
    background-color: darkcyan;
    color:#fff;
    border-radius: 8px ;
   border:1px solid darkcyan;
   padding: 5px 15px;
}
.blog:hover{
    background-color: #296a6a;
}
.about_me{
    display: flex;
    justify-content: center;
    margin: 60px;
    .info{
        display: flex;
        flex-direction: column;
        list-style: none;
        li{
            display: flex;
            flex-direction: column;
            list-style: none;
        }
    }
     h1{
        margin-block-start: 0em;
        width: 30%;
        max-width: 30%;
        margin-left: 200px;
     }
    h1,.skill{  
        font-size: 1rem;
        font-weight:400;
        ul{
            margin-block-start: 0em;
            list-style: none;
            padding-inline-start: 0px;
            li{
                line-height: 35px;
                img{
                    width: 30px;
                  
                }
            }
        }
    }
    .skill{
        border-radius: 8px;
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        padding: 15px;
    }
.skill{
    color:#333;
    width: 70%;
    max-width: 70%;
    .front_skill{
         display: flex;
        li{
            display: flex;
           flex-flow: column;
           justify-content: center;
            div,img{
                display: flex;
                flex-flow: row nowrap;
            }
            div{
                margin: auto 7px;
            }
            img{
                width: 32px;
                margin: auto;
                  -webkit-animation: plusrotate 5s linear;
                    animation: plusrotate 5s linear;
            }
        }
        :nth-child(2){
           img{
                width: 26px;
            } 
        }
        :nth-child(6){
           img{
                width: 27px;
            } 
        }
     }
    .back_skill,.tool{
        display: flex;
        li{
            display: flex;
           flex-flow: column;
           justify-content: center;
            img{
            display: flex;
            flex-flow: row nowrap;
            }
           
        }
       
    }
    .back_skill{
        li{
            &:first-child{
                    img{
                        width: 82px;
                    }
            }
            &:nth-child(2){
                img{
                    width: 152px;
                }
            }
            &:nth-child(3){
                img{
                    width: 152px;
                }
            }
        }
    }
    .tool{
        li{
            margin: auto 3px;
           &:first-child{
                img{
                    width: 20px;
                }
            }  
            &:nth-child(2){
                img{
                    width: 42px;
                }
            }  
            &:nth-child(3){
                img{
                    width: 22px;
                }
            }  
            &:nth-child(4){
                img{
                    width: 22px;
                }
            }  
        }
    }
}
}
@media (max-width:1440px) {
    .about_me h1 {
        margin-left: 100px;
    }
}
@media  (max-width:1366px) {
    .restfulApi .restful-content li {
    width: 60%;
    }
}
@media (max-width:1150px) {
    .about_me {
         h1{
            margin-left: 20px;
        }
    }
}
@media (max-width:1130px) {
    .about_me {
        h1{
          margin-left: 0px;
            width: 35%;
            max-width: 35%;
        }
        .skill{
             width: 65%;
            max-width: 65%;
        }
    }
}
@media (max-width:950px) {
     .about_me {
        flex-flow: column;
        h1,
        .skill{
            width: 95%;
            max-width: 95%;
        }
    }
}
@media (max-width:850px) {
    .restfulApi{
        .restful-content {
        width: 90%;
        }
        .notBook .list a {
            font-size: 15px;
        }
    }
}
@media (max-width:768px)  {
    .web .web-content ul {
    width: 80%;
    max-width: 80%;
    }
    .restfulApi .restful-content {
        width: 100%;
    }
}
@media (max-width:767px) {
    body {
        background-position-x: -220px;
    }
   .menu .ul_menu{
        display: none;
    }
    .restfulApi {
        margin-top: 50px;
    }
   
}
@media (max-width:680px) {
    .about_me{
        margin: 10px;
        .skill ul {
            display: flex;
            flex-flow: row wrap;
            li {
           
                div,  img {
                    display: flex;
                    flex-flow: row nowrap;
                }
            }
        }

    }
}
@media (max-width:600px) {
  .web .web-content ul {
    li {   
        width: 90%;
        max-width: 90%;
    }
    li:first-child img {
    margin: 20px auto auto auto;
    }
  }
   .about_me h1, .about_me .skill {
        width: 90%;
        max-width: 90%;
        margin: auto;
    }

}

/*順時針旋轉1次*/
.plusrotateOne {
    -webkit-animation: plusrotate 3s linear;
    animation: plusrotate 3s linear;
}
@keyframes plusrotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width:533px) {
    .restfulApi .restful-content {
        grid-template-columns: repeat(1, 1fr);
        li{
            margin-bottom: 80px;
            width: 80%;
        }
    }
}
@media (max-width:414px) {
    body {
        background-position-x: -220px;
    }
}
